@model MiningById

@{
    ViewData["Title"] = "States";
}

<div class="row">
    <div class="col-4">
        <div class="list-group col-md-3">
            <div class="list-group" id="list-tab" role="tablist">
                @foreach (var element in Model.Minings)
                {
                    <a id="@element.IdMining" class="list-group-item">@element.State</a>
                }
            </div>
        </div>
    </div>
</div>