@model CountryProcessViewModel
@{
    ViewData["Title"] = "Country to Processes Administration";
}

<div class="container-fluid">
    <h2>@ViewData["Title"]</h2>
    <div class="col-lg-8">
        <form asp-area="Admin" asp-controller="CountryProcess" asp-action="Index" method="post">
            <select asp-for="IdCountry" asp-items="Model.CountryList" name="id" onchange="this.form.submit()" style="width:400px;">
                <option>Please select a country</option>
            </select>
        </form>
    </div>
</div>
<hr />

@{
    if (Model.IdCountry > 0)
    {
        <div class="container-fluid">
            <div class="col-lg-8">
                <div class="col-lg-6">
                    Mapped processes: <b>@Model.IdProcesses.Count()/@Model.Processes.Count()</b>
                </div>
                <div class="col-lg-6">
                    <input type="text" class="pull-right" id="inputName" onkeyup="myFunction('IdProcesses')" placeholder="Search for name..." title="Type in a name" style="width:400px;">
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <form class="col-lg-8" method="post">
                <div class="form-group">
                    <input asp-for="IdCountry" class="hidden" name="idCountry" />
                </div>
                <div class="form-group">
                    <label asp-for="Processes">All Processes: Process/Process Map/(ID Process)</label>
                    @Html.ListBoxFor(x => x.IdProcesses, Model.Processes, new { @class = "form-control", @style = "height: 600px;" })
                    <small>* Press and hold Ctrl to select multiple countries</small>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        <button type="submit" class="btn btn-sm btn-default" asp-area="Admin" asp-action="ModifyCountryProcess" style="color: white; background-color: #00A4E4;">Modify</button>
                    </div>
                </div>
            </form>
        </div>
    }
}

@{ await Html.RenderPartialAsync("_FilterScriptsPartial"); }