@model ProcessViewModel
@{
    ViewData["Title"] = "ById";
}

<h2>Update Process</h2>

<div class="row">
    <form class="col-lg-4" method="post">
        <div asp-validation-summary="All" style="color:red;"></div>
        <div class="form-group">
            <label asp-for="Process.IdProcess" name="id">ID</label>
            <input asp-for="Process.IdProcess" readonly="readonly" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Process.Process">Process</label>
            <input asp-for="Process.Process" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Process.FunctionName">Function Name</label>
            <input asp-for="Process.FunctionName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Process.ProcessMap">Process Map</label>
            <input asp-for="Process.ProcessMap" class="form-control" />
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="Process.SlaType">SLA Type</label>
                <input asp-for="Process.SlaType" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="Process.SlaTarget">SLA Target</label>
                <input asp-for="Process.SlaTarget" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-lg-6">
                <label asp-for="Process.Level2Taxonomy">Level2Taxonomy</label>
                <input asp-for="Process.Level2Taxonomy" class="form-control" />
            </div>
            <div class="col-lg-6">
                <label asp-for="Process.Level3Taxonomy">Level3Taxonomy</label>
                <input asp-for="Process.Level3Taxonomy" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Process.Mnc">MNC</label>
            <input asp-for="Process.Mnc" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Process.Pid">PID</label>
            <input asp-for="Process.Pid" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Process.NiceQueue">Nice Queue</label>
            <input asp-for="Process.NiceQueue" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Process.Group">Group</label>
            <input asp-for="Process.Group" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Process.SpphIdProcess">Spph ID Process</label>
            <input asp-for="Process.SpphIdProcess" class="form-control" />
        </div>
        <div class="form-group">
            <div class="col-lg-12">
                <button type="submit" class="btn btn-sm pull-left" asp-area="Admin" asp-controller="Processes" asp-action="ById" style="color:white; background-color:#00A4E4;">Update</button>
                <button type="submit" class="btn btn-sm btn-danger pull-right" asp-area="Admin" asp-controller="Processes" asp-action="RemoveProcess" asp-route-id="@Model.Process.IdProcess">Remove</button>
            </div>
        </div>
    </form>
</div>

