@{
    ViewData["Title"] = "Metrics Track";
}

<button id="cta">About</button>

<svg viewBox="0 0 426.1 195.6">
    <polygon class="polymorph" points="426.1,195.6 -1.8,195.6 -1.8,0 115.9,0 426.1,0" />
</svg>

<div id="blip">
    <h1>Welcome to Metrics Track!</h1>
    <p>Metrics Track is an end-to-end system for data collection.</p>
    <p>It facilitates the daily workflow management and reporting.</p>
    <p>Based on a transaction level it measures all basics KPIs.</p>
    <small>More information at project's <a href="https://github.com/zrusev/Tracking_System">location</a>.</small>
    <br />
    <button id="cta2">Go Back</button>
    <p>Created by: <a href="mailto:zlatko.rusev@gmail.com" target="_top">zlatko.rusev@gmail.com</a><sup>&reg;</sup></p>
    <p>Project: <a href="https://github.com/zrusev/Tracking_System">GitHub</a></p>
    <p>License: <a href="https://opensource.org/licenses/MIT">MIT</a></p>
</div>


<script>
    var btn = document.getElementById("cta");
    var btn2 = document.getElementById("cta2");

    btn.onclick = function () {
        var morphing = anime({
            targets: '.polymorph',
            points: [
                { value: '426.1,195.6 -1.8,195.6 -1.8,0 115.9,0 160.8,185' },
                { value: '426.1,195.6 -1.8,195.6 -1.8,0 -1.8,0 160.8,185' }
            ],
            easing: 'easeOutQuad',
            duration: 1200,
            loop: false
        });

        anime({
            targets: '#blip',
            opacity: 1,
            duration: 500,
            translateY: 150
        });

        var promise = morphing.finished.then(function () {
            btn2.onclick = function () {
                var morphing = anime({
                    targets: '.polymorph',
                    points: [
                        { value: '426.1,195.6 -1.8,195.6 -1.8,0 -1.8,0 160.8,185' },
                        { value: '426.1,195.6 -1.8,195.6 -1.8,0 115.9,0 426.1,0' }
                    ],
                    easing: 'easeOutQuad',
                    duration: 1200,
                    loop: false
                });

                anime({
                    targets: '#blip',
                    opacity: 0,
                    duration: 500,
                    translateY: -800
                });
            };
        });
    }
</script>