@model AddCountryViewModel
@{
    ViewData["Title"] = "ModifyCountry";
}

<h2>Modify Country</h2>

<div class="row">
    <form class="col-lg-4" asp-area="Admin" asp-action="ModifyCountry">
        <div class="form-group">
            <label asp-for="IdCountry">ID Country</label>
            <input asp-for="IdCountry" readonly class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Country">Country Name</label>
            <input asp-for="Country" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="RefSite">Reference site</label>
            <input asp-for="RefSite" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="SpphIdCountry">Sapphire ID</label>
            <input asp-for="SpphIdCountry" class="form-control" />
        </div>
        <div class="col-lg-6">
            <button type="submit" class="btn btn-sm pull-left" style="color:white; background-color:dimgrey">Modify</button>
        </div>
    </form>
</div>