body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    overflow-y: auto; /*Show the scrollbar */
    margin-left: 20px;
}

.sidebar-nav-fixed {
    width: 100%;
}

.transaction {
    font-size: 11px;
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}

.transaction thead {
    font-size: 11px;
}

.transaction td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-process {
    width: 20%;
}

.row-lob {
    width: 15%;
}

.row-premium {
    width: 15%;
}

.row-received {
    width: 25%;
}

.row-docId {
    width: 15%;
}

.row-status {
    width: 15%;
}

.dashboard {
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.panel-height {
    padding-top: 5px;
    padding-bottom: 5px;
}

.field-validation-error {
    color: Red;
}

.btn-xs {
    font-size: 11px;
    line-height: 1.1;
    background-color: #00A4E4;
}